<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
           
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <header style="background-image: url('https://www.auvergnerhonealpes-ee.fr/fileadmin/_processed_/7/8/csm_bandeau_CDR_Mediatheque_b6b4370967.png'); background-repeat: no-repeat; background-size: cover">
            {% include 'general/navbar.html.twig' %}
        </header>

        <main class="container row m-auto">
            <div class="col-9">
                {% block body %}
                    
                {% endblock %}
            </div>
            <div class="col-3">
                <ul>
                    <li>
                        <strong>Adresse</strong>: 4 rue de la paix
                    </li>
                </ul>
                <ul>
                    <li><strong>Horaires d'ouverture</strong></li>
                    <li>Du lundi au vendredi: 9h30-12h / 14h-17h</li>
                    <li>Samedi: 9h30-12h / 14h-16h</li>
                    <li>Dimanche: 9h30-12h</li>
                </ul>

                <form action="#" method="POST" style=>
                    <div class="input-group">
                        <div class="form-flaoting">
                            <input type="search" placeholder="Rechercher" id="form1" class="form-control" />
                        </div>
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </main>

        <footer class="bg-dark d-flex align-items-center justify-content-center flex-column">
            {% include 'general/navbar.html.twig' %}
            <div>
                <p class="text-white m-0">&copy; 2021 Mediatheque.com</p>
                <p class="text-white m-0 ml-4">{{ "now"|date("d/m/Y H:i:s", "Europe/Paris") }}</p>
                <p class="text-white m-0 ml-4"><strong>Contact:</strong><address><a href="mailto:jim@rock.com">jim@rock.com</a><br>
</address></p>
            </div>
        </footer>
 
       
        
        {% block js %}
           <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
           <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
           <script>
                function adapt_main_size() {
                    let height = $(window).height() - ($('header').height() + $('footer').height());

                    $('main').css({
                        'min-height': height,
                    });
                }

                $(document).ready( () => {
                    adapt_main_size();
                });

                $(window).resize( () => {
                    adapt_main_size();
                });
            </script>
        {% endblock %}
    </body>
</html>
